@page "/free"

<h3>Valfri</h3>
<p>Denna sida har publicerats på Netlify och sedan nedladdad till desktop som PWA. Har ändrat ikonen till en panda i manifest.json. <br />
Tanken var att ladda upp den via github men då det krånglade gjordes det manuellt via build -> publish i Visual Studio 2022.   <br />  
Länk till sidan: <a href="https://moment1-3blazor.netlify.app/">https://moment1-3blazor.netlify.app/</a>
</p>
@code {

}
