@inherits LayoutComponentBase

        <div class="container">
            <header> 
               <img class="logo" src="https://i.postimg.cc/Fzh9gvsn/kungfupanda.jpg" />
            <div class="date"><p>Moment 1.3 Blazor Webassembly</p></div>   
            </header>
                  <!--infoga navigationen-->
                <NavMenu ></NavMenu>
            <main>
                @Body
            </main>
           
            <footer id="footer"><p>Av Joel Karlsson 2022. Kontakta mig via e-post: <a href="mailto:joka2005@student.miun.se">joka2005@student.miun.se </a></p>  </footer>
        </div>
