            <nav>
                <ul>
                    <li> <a href="/">Startsidan</a> </li>
                    <li> <a href="/convert">Konventera</a> </li>
                    <li> <a href="/BoredApi">BoredApi</a> </li>
                    <li> <a href="/free">Valfri</a> </li>
                </ul>
            </nav>
@code {

}
