            <nav>
                <ul>
                    <li> <a href="/">Startsidan</a> </li>
                    <li> <a href="/convert">Konventering</a> </li>
                    <li> <a href="/BoredApi">BoredApi</a> </li>
                </ul>
            </nav>
@code {

}
